.subscription-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plans-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  flex-direction: row;
  gap: 20px;
}

@media (min-width: 900px) {
  .plans-grid {
    flex-direction: row;
  }
}

.pay-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #28a745; /* Green color for pay button */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-button.active {
  background-color: #218838;
}

.pay-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
  